@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
html {
    font-size: 24px;
}
body {
    min-width: 45rem;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.3rem;
}
header, .attribution {
    flex-basis: 5rem;
    flex-shrink: 1;
    flex-grow: 1;
}
header>img {
    vertical-align: middle;
}
main {
    background-color: white;
    border-radius: 1rem;
    width: 38rem;
    height: 19rem;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    overflow: visible;
}
.user-input-field, .result-field {
    flex-basis: 17.5rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 1rem;
}
.user-input-field {
    padding-left: 0.7rem;
}
#calculator-input-list>li {
    margin-bottom: 1.3rem;
    position: relative;
}
.input-element-name {
    color: hsl(186, 14%, 43%);
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
}
.input-tip-rate {
    display: flex;
    flex-wrap: wrap;
}
.tip-radio {
    display: none;
}
.tip-radio + label, .tip-radio + label {
    display: inline;
    width: 4.9em;
    height: 2.2rem;
    border: 0;

    margin: 0.3rem;
    margin-left: 0;
    margin-right: 0.6rem;

    padding-top: 0.3rem;
    
    font-size: 1rem;
    color: white;
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.3rem;

    text-align: center;
    vertical-align: middle;

    cursor: pointer;
}
.tip-radio:checked + label {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}
/* .input-tip-rate>li>button {
    display: inline;
    width: 4.9em;
    height: 2.2rem;
    border: 0;

    margin: 0.3rem;
    margin-left: 0;
    margin-right: 0.6rem;
    

    font-size: 1rem;
    color: white;
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.3rem;
} */
#custom-tip-rate {
    width: 4.9rem;
    height: 2.2rem;
    margin-top: 0.3rem;
    background-color: hsl(189, 41%, 97%);
    border-radius: 0.3rem;
    
    font-size: 1rem;
    color: hsl(183, 100%, 15%);
    
    padding: 0.3rem;
    padding-top: 0.2rem;
    
}
#custom-tip-rate:not(placeholder-shown) {
    border: 0.1rem solid hsl(172, 67%, 45%);
    text-align: center;
}
#custom-tip-rate:focus {
    text-align: right;
}
#custom-tip-rate::placeholder {
    font-size: 1rem;
    color: hsl(186, 14%, 43%);
    text-align: center; 
}
.user-input-field input {
    border: 0;
    background-color: hsl(189, 41%, 97%);
    width: 16rem;
    height: 1.8rem;
    border-radius: 0.3rem;
}
.input-element-field>input::placeholder {
    color: hsl(184, 14%, 56%);
}
.input-element-field input {
    color: hsl(183, 100%, 15%);
    font-size: 0.9rem;
    padding-right: 0.7rem;
}
#bill-input {
    background-image: url('images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;

    text-align: right;

    
}
#people-num-input {
    background-image: url('images/icon-person.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;

    text-align: right;
}
input:focus {
    outline: 0;
    border: "";
    border: 0.1rem solid hsl(172, 67%, 45%);
}

.error-msg {
    font-size: 0.7rem;
    color: rgb(255, 86, 86);

    position: absolute;

    top: 0;
    right: 1rem;
    text-align: right;
}


input.empty ~ .error-msg, input.valid ~ .error-msg {
    display: none;
}

input.error ~ .error-msg {
    display: visible;
}
input.error {
    border: 0.1rem solid rgb(255, 86, 86) !important;
}

#bill-input.error ~ .error-msg {
    display: visible;
}

#result-list>li {
    position: relative;
    margin-bottom: 2rem;
}
.result-field {
    background-color: hsl(183, 100%, 15%);
    border-radius: 1rem;
    margin-left: 0;
    padding: 1.5rem;
}
.result-menu {
    display: flex;

}
.result-name {
    color: white;
    font-size: 0.7rem;
}
.result-per-person {
    color: hsl(184, 14%, 56%);
    font-size: 0.6rem;
}
.result-price {
    position: absolute;
    right: 0;
    top: -0.5rem;
    color: hsl(172, 67%, 45%);
    font-size: 1.8rem;
}
#result-reset {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 5.6rem;
}
.reset-button {
    width: 14rem;
    height: 2rem;
    border-radius: 0.2rem;

    border: 0;
    align-self: center;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-size: 0.8rem;
}
.reset-button:hover {
    cursor: pointer;
}